/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .hero .info {
    position: relative;
    inset: 0;
    z-index: 3;
    padding: 140px 0 60px 0;
  }
  
  @media (max-width: 768px),
  (max-height: 480px) {
    .hero .info {
      padding: 100px 50px 60px 50px;
    }
  }
  
  .hero .info h2 {
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 56px;
    font-weight: 700;
    position: relative;
  }
  
  .hero .info h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 4px;
    background: var(--accent-color);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  @media (max-width: 768px) {
    .hero .info h2 {
      font-size: 36px;
    }
  }
  
  .hero .info p {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    font-size: 18px;
  }
  
  .hero .info .btn-get-started {
    color: var(--contrast-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid var(--accent-color);
  }
  
  .hero .info .btn-get-started:hover {
    background: var(--accent-color);
  }
  
  .hero .carousel {
    inset: 0;
    position: absolute;
    overflow: hidden;
  }
  
  .hero .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    transition-duration: 0.4s;
  }
  
  .hero .carousel-item img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  .hero .carousel-item::before {
    content: "";
    background-color: color-mix(in srgb, var(--background-color), transparent 30%);
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  
  .hero .carousel-control-prev {
    justify-content: start;
  }
  
  @media (min-width: 640px) {
    .hero .carousel-control-prev {
      padding-left: 15px;
    }
  }
  
  .hero .carousel-control-next {
    justify-content: end;
  }
  
  @media (min-width: 640px) {
    .hero .carousel-control-next {
      padding-right: 15px;
    }
  }
  
  .hero .carousel-control-next-icon,
  .hero .carousel-control-prev-icon {
    background: none;
    font-size: 26px;
    line-height: 0;
    background: color-mix(in srgb, var(--default-color), transparent 80%);
    color: color-mix(in srgb, var(--default-color), transparent 40%);
    border-radius: 50px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .hero .carousel-control-prev,
  .hero .carousel-control-next {
    z-index: 3;
    transition: 0.3s;
    text-decoration: none;
  }
  
  .hero .carousel-control-prev:focus,
  .hero .carousel-control-next:focus {
    opacity: 0.5;
  }
  
  .hero .carousel-control-prev:hover,
  .hero .carousel-control-next:hover {
    opacity: 0.9;
  }
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .inner-title {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 30px 0;
}

@media (min-width: 991px) {
  .about .inner-title {
    max-width: 65%;
    margin: 0 0 80px 0;
  }
}

.about .our-story {
  padding: 40px;
  background-color: color-mix(in srgb, var(--default-color), transparent 96%);
}

@media (min-width: 991px) {
  .about .our-story {
    padding-right: 35%;
  }
}

.about .our-story h4 {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}

.about .our-story h3 {
  font-size: 2.25rem;
  font-weight: 700;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
}

.about .our-story p:last-child {
  margin-bottom: 0;
}

.about ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.about ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.about ul i {
  font-size: 1.25rem;
  margin-right: 0.5rem;
  line-height: 1.2;
  color: var(--accent-color);
}

.about .view-more i {
  font-size: 2rem;
  transition: 0.3s;
  color: var(--accent-color);
}

.about .view-more a {
  font-weight: 600;
  color: color-mix(in srgb, var(--default-color), transparent 20%);

  transition: 0.3s;
  color: var(--accent-color);
  text-decoration: none;
}

.about .view-more:hover a {
  color: var(--accent-color-dark);
}

.about .about-img {
  min-height: 400px;
  position: relative;
}

@media (min-width: 992px) {
  .about .about-img {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 600px;
  }
}

.about .about-img img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}
/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .nav-tabs {
  border: 0;
}

.services .nav-link {
  color: var(--heading-color);
  padding: 15px 0;
  transition: 0.3s;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 4px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.services .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.services .nav-link h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 575px) {
  .services .nav-link h4 {
    font-size: 16px;
  }
}

.services .nav-link:hover {
  color: var(--accent-color);
  border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.services .nav-link.active {
  background-color: var(--background-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.services .tab-content {
  margin-top: 30px;
}

.services .tab-pane h3 {
  color: var(--heading-color);
  font-weight: 700;
  font-size: 32px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.services .tab-pane h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  bottom: 0;
}

.services .tab-pane ul {
  list-style: none;
  padding: 0;
}

.services .tab-pane ul li {
  padding-top: 10px;
}

.services .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--accent-color);
}

.services .tab-pane p:last-child {
  margin-bottom: 0;
}
  

  /*--------------------------------------------------------------
#(( Products Section))
--------------------------------------------------------------*/

.products .section-text{
  display: flex;
  justify-content: center;
}



.products .products-content {
  position: relative;
  overflow: hidden;
}

.products .products-content img {
  transition: 0.3s;
}

.products .products-content .products-info {
  opacity: 0;
  position: absolute;
  inset: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
}

.products .products-content .products-info h4 {
  font-size: 14px;
  padding: 5px 10px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  background-color: var(--accent-color);
}


.products .products-content:hover img {
  transform: scale(1.1);
}

.products ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.products ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products ul i {
  font-size: 1.25rem;
  margin-right: 0.5rem;
  line-height: 1.2;
  color: var(--accent-color);
}

.products strong{
  color: var(--accent-color);
}
.products .btn{
  margin: 20px;
}
@media (max-width: 575px) {
  .products .col-6 {
    width: 100%;
  }
}